@media (max-width: 1200px) {
    .why {
        height: 520px;
        padding: 40px 0 95px 50px;
        &__img {
            height: 520px;
        }
        &__descr {
            margin-top: 60px;
            max-width: 400px;
            font-size: 19px;
        }
    }
    .about {
        justify-content: space-between;
        padding-right: 85px;
        &__descr {
            font-size: 21px;
        }
    }
    .suggestions {
        &__text {
            margin-left: 60px;
            margin-top: 70px;
            font-size: 21px;
        }
        &__divider {
            width: 185px;
            right: 45px;
            top: 50px;
            &_big {
                right: 0;
                left: 35px;
                width: 210px;
            }
        }
        &__item {
            height: 300px;
            &_big {
                width: 465px;
            }
        }
        &__items_big {
            justify-content: center;
        }
    }
    .also {
        height: 680px;
        &__info {
            font-size: 21px;
            max-width: 485px;
        }
        &__img {
            height: 680px;
            width: 420px;
        }
    }
    .smile {
        padding-top: 40px;
        padding-left: 50px;
        height: 698px;
        h2 {
            font-size: 50px;
            margin-top: 0;
        }
        h3 {
            margin-bottom: 155px;
        }
        &__descr {
            max-width: 445px;
            font-size: 21px;
            margin-top: 40px;
            margin-bottom: 60px;
        }
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__img {
            max-width: 420px;
        }
    }
    .info {
        max-height: 304px;
        &__img {
            max-width: 397px;
            max-height: 304px;
        }
        &__text {
            padding-top: 35px;
        }
        &__descr {
            margin-top: 20px;
            line-height: 20px;
        }
    }
}
@media (max-width: 992px) {
    .promo {
        padding: 27px 55px 75px 55px;
    }
    .why {
        &__img {
            display: none;
        }
        &__descr {
            max-width: 600px;
            // width: 600px;
            line-height: 40px;
        }
    }
    .about {
        padding: 65px 40px 0 50px;
        h3 {
            margin-right: 72px;
        }
        &__descr {
            line-height: 40px;
            font-size: 19px;
        }
    }
    .suggestions {
        &__items {
            flex-wrap: wrap;
        }
        &__divider {
            right: 0;
            left: 35px;
        }
    }
    .divider {
        height: 90px;
    }
    .also {
        justify-content: flex-start;
        padding-left: 50px;
        &__img {
            display: none;
        }
        &__text {
            margin-left: 0;
        }
        &__info {
            max-width: none;
            padding-right: 50px;
        }
    }
    .smile {
        img {
            display: none;
        }
    }
    .info {
        img {
            display: none;
        }
        &__text {
            display: flex;
            padding-left: 50px;
            padding-right: 0;
            justify-content: space-around;
        }
        &__item {
            &_some {
                margin-right: 50px;
            }
            &_health {
                margin-right: 80px;
            }
        }
    }
    footer {
        padding: 32px 0 26px 125px;
    }
}
@media (max-width: 767px) {
    .promo {
        padding-left: 15px;
        position: relative;
        &__descr {
            font-size: 20px;
        }
    }
    .promo__menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: rgba(98, 208, 223, 1);
        transition: 0.3s all;
        padding-left: 12px;
        z-index: 3;
        &_active {
            left: 0;
        }
        &__item {
            margin-bottom: 20px;
            font-size: 22px;
            line-height: 28px;
        }
    }
    .logo {
        position: absolute;
        left: 40%;
        transform: translateX(-40%);
    }
    .promo__content {
        .logo {
            display: none;
        }
        .title {
            font-size: 39px;
        }
    }
    .hamburger {
        display: block;
        position: absolute;
        top: 48px;
        transform: translateY(-50%);
        left: 20px;
        width: 26px;
        height: 12px;
        z-index: 4;
        cursor: pointer;
        span {
            display: block;
            width: 100%;
            height: 2px;
            margin-bottom: 2px;
            background-color: #22356F;
            transition: 0.5s all;
        }
        &_active {
            span {
                margin-bottom: -2px;
                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);

                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
    .why {
        padding-left: 15px;
        &__descr {
            max-width: 520px;
            line-height: 43px;
            font-size: 18px;
        }
    }
    .about {
        padding-left: 15px;
    }
    .divider {
        height: 70px;
    }
    .also {
        padding-left: 15px;
    }
    .info {
        &__text {
            padding-left: 8px;
            // padding-right: 25px;
        }
        &__item_some {
            margin-right: 10px;
        }
    }
}
@media (max-width: 575px) {
    .promo {
        height: 710px;
        padding-right: 20px;
        &__menu {
            padding-left: 20px;
            &__item {
                margin-bottom: 25px;
                font-size: 22px;
            }
        }
        &__content {
            margin-top: 120px;
            .title {
                margin-top: 0;
                font-size: 22px;
            }
        }
        &__descr {
            margin-right: 10px;
            font-size: 16px;
        }
    }
    .logo {
        left: 40%;
        font-size: 20px;
    }
    .button {
        font-size: 13px;
        height: 40px;
        width: 105px;
    }
    .link {
        margin-left: 10px;
        font-size: 15px;
    }
    .why {
        padding-top: 77px;
        h2 {
            font-size: 22px;
        }
        &__descr {
            max-width: 340px;
            line-height: 34px;
            font-size: 15px;
        }
    }
    .about {
        display: block;
        padding-left: 28px;
        &__descr {
            margin-top: 30px;
            font-size: 16px;
        }
    }
    .description {
        &__title {
            font-size: 22px;
        }
        &__item {
            padding-left: 18px;
            padding-top: 35px;
        }
    }
    .also {
        height: 545px;
        display: block;
        padding-right: 14px;
        &__text {
            h3 {
                margin-top: 25px;
            }
        }
        &__info {
            margin-top: 60px;
            margin-bottom: 75px;
            font-size: 16px;
        }
    }
    .smile {
        height: 590px;
        display: block;
        padding-left: 15px;
        padding-top: 80px;
        &__descr {
            max-width: 315px;
            font-size: 18px;
        }
        h2 {
            font-size: 22px;
        }
        h3 {
            margin-bottom: 77px;
        }
        .link_mt {
            margin-top: 30px;
        }
    }
    .info {
        display: block;
        &__descr {
            font-size: 12px;
            max-width: 100px;
        }
        &__item {
            &_some {
                max-width: 87px
            }
            &_health {
                max-width: 130px;
                margin-right: -8px;
            }
        }
    }
    footer {
        padding-left: 44px;
    }
}