.button {
    width: 150px;
    height: 50px;
    background: #62D0DF;
    border-radius: 50px;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    &:hover {
        background: #F4F9E2;
        color: #62D0DF;
    }
    &_who {
        margin-top: 63px;
        background: #F9B640;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 0px;
        font-size: 16px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        &:hover {
            background: #F4F9E2;
            color: #F9B640;
        }
    }
}
